VITE_SUPABASE_URL=https://ehzgylclklpbfmynacvn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmZteW5hY3ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYzODUwMzMsImV4cCI6MjA4MTk2MTAzM30.gyjP51A9Gsa3Rwu0yjWVVZKAQwLG0kgUr5x8Dczrhj4