# Config files
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Build artifacts
dist/
build/
.next/
out/
coverage/

# IDE
.idea/
.vscode/

# Project specifics
repomix.md
*.tsbuildinfo

# Env strict
.env
.env.*
!.env.example
